* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #111827;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    background-image: linear-gradient(rgba(21, 21, 21, 0.65)), url("../IMG/ed1.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav {
    font-family: 'Inter', sans-serif;
    background-color: #F7F7F7;
    color: #000000;
    padding: 1rem 2rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

nav img {
    margin: 0;
    max-height: 3rem;
}

nav a {
    margin: 0rem 0.75rem;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    color: #ED7A13;
}

button {
    background-color: #6A8042;
    color: #FFFADD;
    border: none;
    border-radius: 2rem;
    padding: 1rem 5rem;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.form-card a {
    display: block;
    margin-top: 0.75rem;
    margin-left: 7.5%;
    text-align: left;
    color: #000000;
    text-decoration: underline;
    font-size: 1.25rem;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    width: 85%;
}

.nav-content {
    display: flex;
    max-height: fit-content;
    align-items: center;
}

.form-card {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2.5rem 0;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    border: 3px solid #FFFADD;
    max-width: 60%;
    margin: 5rem auto;
    text-align: center;
    font-weight: 100;
}

.form-card h2 {
    font-size: 3rem;
    color: #000000;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 1rem;
}

.form-card label {
    color: #000000;
    font-size: 1.5rem;
    display: block;
    text-align: left;
    margin-left: 7.5%;
    margin-bottom: 0.1rem;
    font-weight: 400;
}

.form-card input {
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 85%;
    font-size: 1.25rem;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
}
