<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Frontend/CSS/index.css">
    <link rel="icon" type="image/png" href="./FrontEnd/IMG/favicon.png">
    <title>ADI - Index</title>
</head>
<body>
    <nav>
        <div class="nav-content"><img src="./FrontEnd/IMG/logo.png" alt="ADI_logo"></div>
        <div class="nav-content"><p><a href="#objetivo">Objetivo</a><a href="#propuesta">Propuesta</a><a href="#team">Desarrolladores</a></p></div>
        <div class="nav-content"><button>Ingresar</button></div>
    </nav>
    <div class="welcome" id="main">
        <div>
            <h1>Bienvenido a ADI</h1><br>
            <p>Administrador De Incidencias</p><br>
            <button class="enterButton">Ingresar al sistema</button>
        </div>
        <div>
            <img src="./FrontEnd/IMG/ed1.png" alt="edificio">
        </div>
    </div>
    <div class="main-container" id="objetivo">
        <div>
            <img src="./FrontEnd/IMG/ed2.png" alt="edificio">
        </div>
        <div>
            <h1>Objetivo</h1><br>
            <div class="text-container">
                <p>Implementar un sistema digital para la gestión de incidencias en el "Residencial del Parque" que permita a los residentes realizar reportes de manera estandarizada y a la administración registrar, dar seguimiento en tiempo real y evaluar la eficiencia en la resolución de cada caso, con el fin de reducir la pérdida de información, optimizar la asignación de recursos de mantenimiento y aumentar la transparencia
                y satisfacción de los vecinos.</p>
            </div>
            <br>
            <a href="#main"><button>Volver</button></a>
        </div>
    </div>
    <div class="main-container gray-back" id="propuesta">
        <div>
            <h1>Propuesta</h1><br>
            <div class="text-container">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo eaque laboriosam possimus, nulla deserunt maiores vero aspernatur consequuntur ipsum harum amet cum aperiam iure consequatur voluptatibus neque eius perferendis cupiditate.</p>
            </div>
            <br>
            <a href="#main"><button>Volver</button></a>
        </div>
        <div>
            <img src="./FrontEnd/IMG/logo rectangle.png" alt="">
        </div>
    </div>
    <div class="main-container" id="team">
        <div>
            <img src="./FrontEnd/IMG/team.png" alt="">
        </div>
        <div>
            <h1>Integrantes</h1><br>
            <marquee behavior="scroll" direction="down">
                <p>Analista</p>
                <h2>Briseño Muñoz Joseph Dylan</h2><br><br>
                <p>Analista y Desarrollador</p>
                <h2>Estrada Sevillano Rodrigo</h2><br><br>
                <p>Diseñador y Desarrollador</p>
                <h2>García Piedra Edwin Leonardo</h2><br><br>
                <p>Diseñador</p>
                <h2>González de Luna Luis Gerardo</h2><br><br>
                <p>Líder</p>
                <h2>Ortíz Ávila Miguel Ángel</h2>
            </marquee>
            <br><br>
            <a href="#main"><button>Volver</button></a>
        </div>
    </div>
    <footer>
        <p>X-CORP</p>
    </footer>
</body>
</html>
