<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Outfit:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./Frontend/CSS/index.css">
    <link rel="icon" type="image/png" href="./FrontEnd/IMG/favicon.png">
    <title>ADI - Bienvenida</title>
</head>

<body>
    <nav>
        <div class="nav-content"><a href="#main"><img src="./FrontEnd/IMG/logo_rectangle_h.png" alt="ADI_logo"></a>
        </div>
        <div class="nav-content">
            <p><a href="#objetivo">OBJETIVO</a><a href="#propuesta">PROPUESTA</a></p>
        </div>
    </nav>
    <div class="welcome" id="main">
        <div>
            <h1>Bienvenido a ADI</h1><br>
            <p>Administrador De Incidencias</p><br>
            <a href="/login"><button class="enterButton">Ingresar al sistema</button></a>
        </div>
    </div>
    <div id="objetivo"></div>
    <div class="aim-container">
        <h1>Objetivo</h1>
        <p>
            Implementar un sistema digital para la gestión de incidencias en el "Residencial del Parque" que
            permita a los residentes realizar reportes de manera estandarizada y a la administración registrar,
            dar seguimiento en tiempo real y evaluar la eficiencia en la resolución de cada caso, con el fin de
            reducir la pérdida de información, optimizar la asignación de recursos de mantenimiento y aumentar
            la transparencia y satisfacción de los residentes.
        </p>
        <img src="./FrontEnd/IMG/ed2.png" alt="edificio" class="ed2-img">
    </div>
    <div class="proposal-container" id="propuesta">
        <div>
            <img src="./FrontEnd/IMG/logo_rectangle_v.png" alt="logo_adi">
        </div>
        <div class="proposal-content">
            <h1>Propuesta</h1>
            <p>
                Implementar un sistema digital para la gestión de incidencias en el "Residencial del Parque" que
                permita a los residentes realizar reportes de manera estandarizada y a la administración registrar,
                dar seguimiento en tiempo real y evaluar la eficiencia en la resolución de cada caso, con el fin de
                reducir la pérdida de información, optimizar la asignación de recursos de mantenimiento y aumentar
                la transparencia y satisfacción de los residentes.
            </p>
        </div>
    </div>
    <footer>
        <p>X-CORP @ 2026 All rights reserved</p>
    </footer>
</body>

</html>
