<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito:wght@400;600;700&family=Outfit:wght@400;600;700&display=swap" rel="stylesheet">
    <title>ADI - Iniciar Sesión</title>
    <link rel="stylesheet" href="/FrontEnd/CSS/login.css">
    <link rel="icon" type="image/png" href="./FrontEnd/IMG/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./FrontEnd/JS/login.js" defer></script>
</head>

<body>
    <nav>
        <div class="nav-content"><a href="/"><img src="./FrontEnd/IMG/logo_rectangle_h.png" alt="ADI_logo"></a>
        </div>
        <div class="nav-content">
            <p><a href="/">INICIO</a></p>
        </div>
    </nav>
    <br>
    <div class="form-card">
        <form id="login-form">
            <h2>INICIO DE SESIÓN</h2>
            <label for="email">Correo</label><br>
            <input type="email" id="email" placeholder="usuario@example.com" required maxlength="320">
            <br><br>
            <label for="passw">Contraseña</label><br>
            <input type="password" id="passw" placeholder="Contraseña" required maxlength="32">
            <br><br>
            <button type="submit">ACCEDER</button><br>
            <a href="">Recuperar Contraseña</a>
        </form>
    </div>
</body>

</html>
