<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/FrontEnd/CSS/deps.css">
    <link rel="icon" type="image/png" href="./FrontEnd/IMG/favicon.png">
    <title>ADI - Departamentos</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/FrontEnd/JS/session_manager.js"></script>
</head>
<body>
    <nav>
        <div class="nav-content"><img src="./FrontEnd/IMG/logo.png" alt="ADI_logo"><a href=""><img
                    src="./FrontEnd/IMG/avatar.png" alt="avatar"></a></div>
        <div class="nav-content">Administración de Departamentos</div>
        <div class="nav-content"><a href="/main"><button>Volver al menú principal</button></a></div>
    </nav>
    <footer>
        <p>X-CORP</p>
    </footer>
</body>
</html>
